.expenses__page {
    padding-left: var(--center-left);
    padding-right: var(--center-right);
}

.expenses__title {
    padding-top: 36px;
    padding-bottom: 32px;
}

.expenses__content {
    display: flex;
    gap: 34px;
}